.container {
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
}
.result
{
  position: static;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #f1ff85;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn{
  margin-top: 7%;
  background-color: #4ECCA3;
  /* border: none; */
  border-radius: 30%;
  height: 50px;
  border-color: aqua;
}
footer {
  margin-top: 5%;
  color: #3d3c3c;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
